@{
    ViewBag.Title = "Test 3";
}
<h2>@ViewBag.Title.</h2>
<br />
<h2>Prueba Code:E-U10-UNILATIN 204</h2>
<p>@ViewBag.prueba1</p>
<h2>Prueba Code:E-U10-DSCVCOVE 404</h2>
<p>@ViewBag.prueba2</p>
<h2>Prueba Code:E-E10-PF2SHOW 500</h2>
<p>@ViewBag.prueba2</p>
